.getAllContacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contactCard {
    border: black 1px solid;
    width: 250px;
    padding: 5px;
}

.getContactResult {
    margin-top: 20px;
}

pre {
    color: red;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.main-divs {
    border: red 1px solid;
    padding: 5px;   
}